{% extends "layout.html" %}
{% block body %}
<h3>Hakkımda</h3>
<hr>
İsmim Şahan HASRET. 06.01.95 doğumluyum. Eğitimimi "Isparta Süleyman Demirel
Üniversitesi" bünyesinde tamamladım. Aldığım eğitimlerin üzerine koyarak "canlı"
ve "örgün" eğitimler vermekteyim. Agartha Yazılım ve Siber Güvenlik Topluluğu
kurucularından biriyim. Son 2 yıldır Python ve React-Native ile çalışmaktayım.
Agartha Teknoloji Topluluğu 2018 yılından bu yana faaliyet gösteren bir
topluluktur. Kurucuları arasında Şahan HASRET, Murat ÖZTÜRK, Özkan PİR, Fatma
ŞAHİNER, Yiğit DEMİRALP bulunmaktadır.
<hr>
{% endblock %}